@use 'mixins' as mx;

.chat {
    @include mx.flex(null, null, column);
    position: relative;

    max-width: 600px;  //**Responsive
    // min-width: 400px; //**Responsive
    width: 100%;     //**Responsive
    height: 100%;

    padding: 0 15px 0;    

    overflow-y: scroll;  // TODO
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
        &::-webkit-scrollbar {
            display: none;
        }
}


.chat-blur {
    position: absolute;
    z-index: 1;

    background: rgba(31, 31, 31, 0.02);
    backdrop-filter: blur(1.5px);
    
    width: 100%;
    height: 15%;

        &.top {top: 0; height: 6%;}
        &.bottom { bottom: 0 }
}