@use 'mixins' as mx;



nav {
    
    @include mx.flex(space-between, center);
    
    width: 100%; //**Responsive
    height: 60px;
    
    padding: 0 70px;
    position: absolute;
    z-index: 999;
    top: 20px;

    .logout-btn {
        font-weight: 700;
        font-size: 14px;
    }

    .theme-btn {
        cursor: pointer;
        transition: background-color 100ms linear;

        &:hover {
            background-color: #686868;
        }
    }

}

.theme-icon-sun {
    fill: white;
}


