@forward './reset';
@use './messege';
@use './nav';
@use './main';

$background-color : #1F1F1F;
$font-color : white;
$font : "Inter";

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: $background-color;
    color: $font-color;
    font-family: $font, sans-serif;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}